<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N8MX0GB7RN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N8MX0GB7RN');
</script>

<title>
Redirecting...
</title>
<script>
window.location = "../timeline/__INDEX__";
</script>
</head>
<body>
Redirecting, please wait...<br>
If you are not redirected shortly, <a href="../timeline/__INDEX__">click here</a>.
</body>
</html>